.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#1A0B2E;
    font-optical-sizing: auto;
    color: #FFFFFF;
}
.main-container {
    max-width: 1600px;
    margin: 0 auto;
}
/* shared style */
.btn {
    padding: 12px 16px;
    font-size: 1rem;;
    font-weight: 600;
    border-radius: 100px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));;
}
.btn a {
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.title {
    font-size:clamp(2rem, 1.5rem + 2.5vw, 3rem);
    font-weight: 700;
    text-align: center;
}
.description {
    font-size:1rem;
    line-height: 35px;
    margin-top: 16px;
}
/* navbar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px clamp(1.25rem, -5rem + 18vw, 12rem);
    border-bottom: 1px solid #412567;
}
.logo {
    font-size:clamp(1.5rem, 1.25rem + 1.25vw, 2rem);
}
.waver {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
#menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 auto;
}

#menu-tog,
.hamburger {
    display: none;
}

#menu a {
    text-decoration: none;
    color:  #FFFFFF;
    font-size:1rem;
    font-weight: 500;
}
/* Header */
#banner {
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: top center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 80px clamp(1.25rem, -5rem + 18vw, 12rem);
}
.hero-ic{
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    margin-bottom: -20px;
}

#icon-one {
    width: 100%;
    height: auto;
}

#icon-two {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
}
.hero-content {
    justify-items: center;
    margin-top: 40px;
}
.hero-content .hero-title {
    font-size:clamp(2.5rem, 2rem + 3w, 3.75rem);
    font-weight: 800;
}
.hero-content #hero-description {
    margin-top: 10px;
}
.hero-content .hero-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    gap: 10px;
}

.hero-content .green-btn {
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88 ;
    border-radius: 100px;
    background: none;

}
.hero-content .green-btn a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color:#00FF88;
    display: flex;
    text-align: center;
    gap: 6px;
}